[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = \"C:\\Users\\INFORMATICA\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	email = ingramirez820@gmail.com
	name = ingramirez820
